body {
  background-color: rgb(206, 206, 206);
}

#resultado {
  border-style: solid;
  border-radius: 1px;
  border-color: black;
}

.layout {
  border-style: solid;
  border-radius: 1px;
  border-color: black;
}

textarea {
  margin: 10px;
}

input {
  margin-right: 5px;
  margin-bottom: 3px;
}

label {
  margin-left: 10px;
}

button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
}

.adicionar {
  background-color: #4CAF50;
}

.remover {
  background-color: rgb(255, 116, 116);
}

.move {
  background-color: rgb(255, 255, 255);
}

#json {
  font-family: monospace;
}

#linhaPosicional {
  overflow: auto; /*  O problema é que no começo fica errado */
  background-color: rgb(192, 182, 182);
  font-family: monospace;
}

.outraCor {
  background-color: rgb(167, 157, 157);
}

.posicaoInicialFinal {
  width: 200px;
}